# Reading and cleaning the data

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

### Importing the crime dataset:

In [2]:
df = pd.read_csv('C:/Users/Hisham/Desktop/p3/data_wrangling/project/assignments_repository/NYPD_Complaint_Data_Historic.csv/NYPD_Complaint_Data_Historic.csv')

C:\Users\Hisham\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Exploring the dataset:

In [3]:
df.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD',
       'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

#### Getting needed columns:

In [4]:
df = df[['CMPLNT_FR_DT','CMPLNT_FR_TM','OFNS_DESC','PD_DESC','LAW_CAT_CD','Latitude','Longitude']]
# BORO_NM: leave for later if weather couldnt be fetched in whole ny

In [5]:
df = df.rename(columns={'CMPLNT_FR_DT':'Date', 'CMPLNT_FR_TM':'Time', 'OFNS_DESC':'Global_desc',
                        'PD_DESC':'Specific_desc', 'LAW_CAT_CD':'Type_of_felony'})

### handeling missing values:

In [6]:
df.isnull().sum()

Date                655
Time                 48
Global_desc       18813
Specific_desc      5546
Type_of_felony        0
Latitude          24064
Longitude         24064
dtype: int64

In [7]:
df = df.dropna()

### Selecting subset of the data:

In [8]:
# we had 6.5 + mil instances. We take the last 5 years into account
df = df[df.Date.apply(lambda x: int(x.split('/')[-1])) >= 2014]

In [9]:
df = df.sort_values(by = 'Date')

### Converting date and time to timestamps:

In [10]:
df['start'] = pd.to_datetime(df['Date'] + df['Time'], format='%m/%d/%Y%H:%M:%S', errors = 'coerce')

In [11]:
df['start'] = df.start.apply(lambda x: datetime(x.year, x.month, x.day, x.hour).timestamp())

In [12]:
df['end'] = df.start.apply(lambda x: x+3600)

In [13]:
df

,Date,Time,Global_desc,Specific_desc,Type_of_felony,Latitude,Longitude,start,end
3231995,01/01/2014,11:15:00,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",FELONY,40.663072,-73.925782,1.388570e+09,1.388574e+09
4307751,01/01/2014,02:05:00,OFFENSES AGAINST PUBLIC ADMINI,RESISTING ARREST,MISDEMEANOR,40.797056,-73.964477,1.388538e+09,1.388542e+09
3837590,01/01/2014,00:01:00,FRAUDS,"FRAUD,UNCLASSIFIED-MISDEMEANOR",MISDEMEANOR,40.649203,-73.923304,1.388531e+09,1.388534e+09
4069689,01/01/2014,15:00:00,PETIT LARCENY,"LARCENY,PETIT FROM BUILDING,UN",MISDEMEANOR,40.635898,-73.740132,1.388585e+09,1.388588e+09
3837787,01/01/2014,22:30:00,DANGEROUS DRUGS,"MARIJUANA, SALE 4 & 5",MISDEMEANOR,40.697293,-73.794449,1.388610e+09,1.388614e+09
...,...,...,...,...,...,...,...,...,...
1856679,12/31/2018,00:17:00,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,MISDEMEANOR,40.625075,-74.022974,1.546211e+09,1.546214e+09
6354799,12/31/2018,13:00:00,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",VIOLATION,40.855261,-73.896226,1.546258e+09,1.546261e+09
1856666,12/31/2018,21:30:00,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",VIOLATION,40.671691,-73.918328,1.546286e+09,1.546290e+09
1856828,12/31/2018,15:00:00,CRIMINAL MISCHIEF & RELATED OF,"MISCHIEF, CRIMINAL 4, OF MOTOR",MISDEMEANOR,40.572388,-73.992626,1.546265e+09,1.546268e+09
6071502,12/31/2018,21:10:00,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",MISDEMEANOR,40.644813,-73.896701,1.546286e+09,1.546290e+09

### Exporting the dataset:

In [14]:
# df.to_csv('C:/Users/Hisham/Desktop/p3/data_wrangling/project/assignments_repository/Data-Wrangling/dataset.csv')