In [1]:
import pandas as pd
from datetime import datetime

In [5]:
df1 = pd.read_csv('Data-Wrangling/dataset.csv')
df2 = pd.read_csv('Data-Wrangling/5y_weather_forcasts.csv')

In [8]:
df1 = df1.drop(['Unnamed: 0', 'Latitude', 'Longitude', 'end'],axis=1)

In [12]:
df1 = df1.rename(columns={'start':'ts'})

In [22]:
df1

,Date,Time,Global_desc,Specific_desc,Type_of_felony,ts
0,01/01/2014,11:15:00,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",FELONY,1.388570e+09
1,01/01/2014,02:05:00,OFFENSES AGAINST PUBLIC ADMINI,RESISTING ARREST,MISDEMEANOR,1.388538e+09
2,01/01/2014,00:01:00,FRAUDS,"FRAUD,UNCLASSIFIED-MISDEMEANOR",MISDEMEANOR,1.388531e+09
3,01/01/2014,15:00:00,PETIT LARCENY,"LARCENY,PETIT FROM BUILDING,UN",MISDEMEANOR,1.388585e+09
4,01/01/2014,22:30:00,DANGEROUS DRUGS,"MARIJUANA, SALE 4 & 5",MISDEMEANOR,1.388610e+09
...,...,...,...,...,...,...
2376104,12/31/2018,00:17:00,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,MISDEMEANOR,1.546211e+09
2376105,12/31/2018,13:00:00,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",VIOLATION,1.546258e+09
2376106,12/31/2018,21:30:00,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",VIOLATION,1.546286e+09
2376107,12/31/2018,15:00:00,CRIMINAL MISCHIEF & RELATED OF,"MISCHIEF, CRIMINAL 4, OF MOTOR",MISDEMEANOR,1.546265e+09
2376108,12/31/2018,21:10:00,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",MISDEMEANOR,1.546286e+09

In [14]:
df2 = df2.drop(['Unnamed: 0'],axis=1)

In [23]:
df = pd.merge(df1,df2, on='ts')

In [43]:
df

,Date,Time,Global_desc,Specific_desc,Type_of_felony,ts,temp,snow,desc
0,01/01/2014,11:15:00,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",FELONY,1.388570e+09,-3.7,0.0,Scattered clouds
1,01/01/2014,11:35:00,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",FELONY,1.388570e+09,-3.7,0.0,Scattered clouds
2,01/01/2014,11:49:00,OFFENSES AGAINST THE PERSON,RECKLESS ENDANGERMENT 2,MISDEMEANOR,1.388570e+09,-3.7,0.0,Scattered clouds
3,01/01/2014,11:45:00,FELONY ASSAULT,ASSAULT POLICE/PEACE OFFICER,FELONY,1.388570e+09,-3.7,0.0,Scattered clouds
4,01/01/2014,11:30:00,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,MISDEMEANOR,1.388570e+09,-3.7,0.0,Scattered clouds
...,...,...,...,...,...,...,...,...,...
2375603,12/31/2018,03:03:00,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,MISDEMEANOR,1.546222e+09,4.4,0.0,Scattered clouds
2375604,12/31/2018,03:00:00,CRIMINAL MISCHIEF & RELATED OF,"MISCHIEF, CRIMINAL 3 & 2, OF M",FELONY,1.546222e+09,4.4,0.0,Scattered clouds
2375605,12/31/2018,03:45:00,GRAND LARCENY,"LARCENY,GRAND OF VEHICULAR/MOTORCYCLE ACCESSORIES",FELONY,1.546222e+09,4.4,0.0,Scattered clouds
2375606,12/31/2018,03:00:00,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF 4TH, GRAFFIT",MISDEMEANOR,1.546222e+09,4.4,0.0,Scattered clouds
2375607,12/31/2018,03:04:00,INTOXICATED & IMPAIRED DRIVING,"INTOXICATED DRIVING,ALCOHOL",MISDEMEANOR,1.546222e+09,4.4,0.0,Scattered clouds

In [53]:
# df.groupby(by='Global_desc').temp.mean()
df.groupby(by='Global_desc').desc.count()
# df.groupby(by='Global_desc').temp.mean()

Global_desc
ABORTION                                    4
ADMINISTRATIVE CODE                      5090
ADMINISTRATIVE CODES                        3
AGRICULTURE & MRKTS LAW-UNCLASSIFIED      490
ALCOHOLIC BEVERAGE CONTROL LAW            492
                                        ...
THEFT-FRAUD                             22448
UNAUTHORIZED USE OF A VEHICLE            8476
UNDER THE INFLUENCE OF DRUGS                2
UNLAWFUL POSS. WEAP. ON SCHOOL             14
VEHICLE AND TRAFFIC LAWS                31888
Name: desc, Length: 67, dtype: int64

# Doing the magic:

In [54]:
df.to_csv('C:/Users/Hisham/Desktop/p3/data_wrangling/project/assignments_repository/Data-Wrangling/full_dataset.csv')